<div class="invoice">
  <div class="invoice-details">
    <h1><%= @user %> | Invoice for <%= @timesheet.title %></h1>
    <p>Client: <%= @client.name %></p>
    <p>Project: <%= @project.name %></p>
    <% if @project.aim.present? %>
      <p><em><%= @project.aim %></em></p>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Hours</th>
        <th scope="col">Tasks Accomplished</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @timestamps.each do |timestamp| %>
        <% unless timestamp.end_time.nil? || timestamp.hours == 0.0 %>
          <!--Create conditional with if timestamps.same_date, group together-->
          <tr>
            <td><%= timestamp.invoice_date %></td>
            <td><%= timestamp.hours %></td>
            <td><%= timestamp.task_description %></td>
            <td>£<%= format('%.2f', timestamp.subtotal) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="table-group-divider">
        <td><strong>Total: </strong></td>
        <td colspan="2"></td>
        <td><strong>£<%= @timesheet.total %></strong></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Create invoice',
          generate_pdf_timesheet_invoice_path(@timesheet, @invoice),
          data: {turbo_method: :post} %>
</div>
