<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
         <!--  <%= link_to "Take a Break", questions_path, class: "nav-link" %> -->

  <!-- <div data-controller="popup">
      <%= link_to "Take a Break", questions_path, class: "btn btn-primary nav-link",
    data: {
      action: "mouseenter->popup#showPopup mouseleave->popup#hidePopup",
      popup_target: "button"
    } %>

  <div data-popup-target="popup" class="popup-image hidden">
    <img src="<%= asset_path('primary_merlin.png') %>" alt="Popup Image" class="popup-image" />
  </div>
</div>
-->

<div class="position-relative d-inline-block" data-controller="popup">
  <%= link_to questions_path,
    data: {
      action: "mouseenter->popup#showPopup mouseleave->popup#hidePopup"
    } do %>
    <%= image_tag "lance_broken.png", class: "broken_sword btn-lance" %>
  <% end %>

  <div data-popup-target="popup" class="popup-image hidden position-absolute" style="top: 100%; left: 0;">
    <img src="<%= asset_path('primary_merlin.png') %>" alt="Popup Image" class="popup-image" />
  </div>
</div>



</div>
          </li>
          <li class="nav-item">
            <% if Timestamp.last.end_time.present? %>
              <!--currently just goes to whatever the last timesheet is.. but would be good to be able to select a project-->
              <%= link_to "Stopwatch", new_timesheet_timestamp_path(Timestamp.last.timesheet), class: "nav-link" %>
            <% else %>
              <%= link_to "Stopwatch", timesheet_timestamp_path(Timestamp.last.timesheet, Timestamp.last), class: "nav-link" %>
            <% end %>
          </li>

          <li class="nav-item btn">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More ;)
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Clients", clients_path, class: "dropdown-item" %></li>
            <li><%= link_to "Projects", projects_path, class: "dropdown-item" %></li>
            <li><%= link_to "Timesheets", timesheets_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
