<div class="project-card">
  <h3 class="project-title"><%= project.name %></h3>
  <p class="project-description"><%= project.aim %></p>
  <p class="project-hourly-rate">Hourly Rate: $<%= project.hourly_rate %>/hour</p>
  <p class="project-status">
    Status: <%= project.completed ? "Completed" : "In Progress" %>
  </p>

  <% unless defined?(@project) && @project == project %>
    <%= link_to 'View Project', client_project_path(@client, project), class: 'btn btn-primary' %>
  <% end %>
</div>
