<h1>Projects for <%= @client.name %></h1>

<!-- Archive & Active Toggle Buttons -->
<div class="mb-3">
  <%= link_to "Show Archived Projects", client_projects_path(@client, archived: true), class: "btn btn-warning" %>
  <%= link_to "Show Active Projects", client_projects_path(@client), class: "btn btn-primary" %>
</div>

<!-- Projects List -->
<div class="projects-list">
  <% @projects.each do |project| %>
    <%= render partial: 'projects/project_card', locals: { project: project } %>
  <% end %>
</div>

<% unless params[:archived] == "true" %>
  <%= link_to 'New Project', new_client_project_path(@client), class: 'btn btn-success' %>
<% end %>
