<div class="container">
  <h1>Projects for <%= @client.name %></h1>

  <!-- Show full client details only on the active projects page -->
  <% unless params[:archived] == "true" %>
    <div class="client-description mb-3">
      <h3>About <%= @client.name %></h3>
      <p><%= @client.description %></p>
      <%= link_to 'Edit Client', edit_client_path(@client), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <!-- Archive & Active Toggle Buttons -->
  <div class="mb-3">
    <% unless params[:archived] == "true" %>
      <%= link_to 'New Project', new_client_project_path(@client), class: 'btn btn-success' %>
      <%= link_to "Show Archived Projects", client_projects_path(@client, archived: true), class: "btn btn-warning" %>
    <% else %>
      <%= link_to "Show Active Projects", client_projects_path(@client), class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- Projects List -->
  <div class="projects-list">
    <% @projects.each do |project| %>
      <%= render partial: 'projects/project_card', locals: { project: project } %>
    <% end %>
  </div>
</div>
