<%= render "shared/lancelot_nav" %>
<div class="container project-show">

  <div class="project-details">
    <div class="title-line d-flex justify-content-between">
      <h1 class="project-title"><%= @project.name %></h1>
      <div class="project-btns d-flex justify-content-between">
          <!-- ✅ Project Completion Section (NEW) -->

          <%= link_to 'Edit Project', edit_client_project_path(@client, @project), class: 'btn' %>
          <% if @project.completed? %>
            <p class="text-success"><strong>✅ Project Completed</strong></p>
          <% else %>
            <%= button_to "Mark as Completed", complete_client_project_path(@client, @project), method: :patch, class: "btn" %>
          <% end %>


        <!-- Archive/Restore Buttons -->

        <% if @project.archived? %>
          <%= button_to "Restore Project", restore_client_project_path(@client, @project), method: :patch, class: "btn" %>
        <% else %>
          <%= button_to "Archive", archive_client_project_path(@client, @project), method: :patch, class: "btn" %>
        <% end %>


      </div>
    </div>

    <p class="project-description"><%= @project.aim %></p>
    <p class="project-hourly-rate">Hourly Rate: £<%= format('%.2f', @project.hourly_rate) %>/hour</p>
    <p class="project-status">
      Status: <%= @project.completed ? "Completed" : "In Progress" %>
    </p>
    <% unless defined?(@project) && @project == @project %>
      <% if defined?(@client) && @client.present? %>
        <%= link_to 'View Project', client_project_path(@client, project), class: 'btn-medieval' %>
      <% else %>
        <% client = project.client %>
        <%= link_to 'View Project', client_project_path(client, project), class: 'btn-medieval' %>
      <% end %>
    <% end %>
  </div>

  <% if @project.timesheets.any? %>
    <div class="project-timesheet-index card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Timesheets</h3>
        <%= simple_form_for [@client, @project, @timesheet] do |f| %>
          <%= f.submit 'New timesheet', class: 'blue-button' %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <% @project.timesheets.each do |timesheet| %>
        <li class="list-group-item">
          <%= link_to client_project_timesheet_path(@client, @project, timesheet) do %>
            <strong><%= "#{timesheet.title} | Current Total: £#{timesheet.total}" %></strong>
          <% end %>
        </li>
        <% end %>
      </ul>
        <!-- Adding new timesheet button -->


    </div>

  <% else %>
    <p>No timesheets available for this project.</p>
  <% end %>





  <% if @project.timesheets.present? %>
    <%= render "timestamps/start_button", timesheet: @project.timesheets.last, timestamp: @timestamp %>
  <% end %>
  <%= link_to "Return to #{@client.name} projects", client_projects_path(@client), class: 'blue-button' %>

</div>
