<div class="container">


  <h1>Project Details</h1>

  <%= render partial: 'projects/project_card', locals: { project: @project } %>

  <h2>Timesheets</h2>
  <% if @project.timesheets.any? %>
    <ul>
      <% @project.timesheets.each do |timesheet| %>
        <li>
          <strong>Timesheet:</strong> <%= timesheet.end_date.strftime('%b %d, %Y') %>
          <%= link_to "View Timesheet", client_project_timesheet_path(@client, @project, timesheet), class: "btn btn-info" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No timesheets available for this project.</p>
  <% end %>

  <%= link_to 'Edit Project', edit_client_project_path(@client, @project), class: 'btn btn-primary' %>
  <%= link_to 'All Projects', projects_path, class: 'btn btn-secondary' %>
  <%= link_to "Projects for #{@client.name}", client_projects_path(@client), class: 'btn btn-secondary' %>

  <% if @project.archived? %>
    <%= button_to "Restore Project", restore_client_project_path(@client, @project), method: :patch, class: "btn btn-success" %>
  <% else %>
    <%= button_to "Archive", archive_client_project_path(@client, @project), method: :patch, class: "btn btn-danger" %>

  <% end %>
</div>
