<div class="container">

  <%= render partial: 'projects/project_card', locals: { project: @project } %>

  <% if @project.timesheets.any? %>
    <ul>
      <% @project.timesheets.each do |timesheet| %>
        <li>
          <strong><%= timesheet.title %> Timesheet</strong>
          <%= link_to "View", client_project_timesheet_path(@client, @project, timesheet), class: "btn btn-info" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No timesheets available for this project.</p>
  <% end %>
  <!--Adding new timesheet button-->
  <%= simple_form_for [@client, @project, @timesheet] do |f| %>
    <%= f.submit 'New timesheet', class: 'btn btn-success' %>
  <% end %>

  <%= link_to 'Edit Project', edit_client_project_path(@client, @project), class: 'btn btn-primary' %>
  <%= link_to 'All Projects', projects_path, class: 'btn btn-secondary' %>
  <%= link_to "Projects for #{@client.name}", client_projects_path(@client), class: 'btn btn-secondary' %>

  <!--Adding stopwatch button-->
  <div class="stopwatch-container">
    <%= simple_form_for [@project.timesheets.last, @timestamp] do |f| %>
      <%= f.submit 'Start', class: 'stopwatch' %>
    <% end %>
  </div>

  <% if @project.archived? %>
    <%= button_to "Restore Project", restore_client_project_path(@client, @project), method: :patch, class: "btn btn-success" %>
  <% else %>
    <%= button_to "Archive", archive_client_project_path(@client, @project), method: :patch, class: "btn btn-danger" %>

  <% end %>
</div>
