<div class="container">
  <h1 class="ps-2"><%= @timesheet.start_date.strftime('%B %Y')%></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Hours</th>
        <th scope="col">Task</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @timesheet.timestamps.each do |timestamp| %>
        <% unless timestamp.end_time.nil? %>
          <tr>
            <td><%= timestamp.date %></td>
            <td><%= timestamp.hours %></td>
            <td><%= timestamp.task_description %></td>
            <td>£<%= format('%.2f', timestamp.subtotal) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="table-group-divider">
        <td><strong>Total: </strong></td>
        <td colspan="2"></td>
        <td><strong>£<%= @timesheet.total %></strong></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Go to stopwatch', client_project_timesheet_timestamps_path(@timesheet.project.client, @timesheet.project, @timesheet) %>
</div>
