<%= render "shared/lancelot_nav" %>
<div class="container mb-5 timesheet">
  <div class="d-flex justify-content-between">
    <h1 class="ps-2"><%= "#{@timesheet.project.name}<br>#{@timesheet.title}".html_safe %></h1>
    <%= link_to 'View invoice', timesheet_invoice_path(@timesheet, @invoice) %>
  </div>
  <!-- Make table partial -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Hours</th>
        <th scope="col">Tasks Accomplished</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody data-controller="show-form">
      <% @timestamps.each do |timestamp| %>
        <% unless timestamp.end_time.nil? || timestamp.hours == 0.0 %>
          <!-- Table row displaying timestamp -->
          <tr data-show-form-target="row">
            <td><%= timestamp.date %></td>
            <td><%= timestamp.hours %></td>
            <td>
              <%= timestamp.task_description %>
              <!-- Edit link trigger -->
              <div data-action="click->show-form#reveal">
                <p class="edit-txt"><em>Edit</em></p> <i class="fa-solid fa-feather d-none"></i>
              </div>
            </td>
            <td>
              £<%= format('%.2f', timestamp.subtotal) %>

                <!--
                <%= link_to ("<i class='fa-solid fa-xmark'></i>").html_safe,
                  timesheet_timestamp_path(@timesheet, timestamp),
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
                %>
                -->
            </td>
            <td class="x-button table-light">
              <%= link_to "X",
                  timesheet_timestamp_path(@timesheet, timestamp),
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
                %>
            </td>
          </tr>
          <tr data-show-form-target="form" class="d-none">
            <td><%= timestamp.date %></td>
            <td><%= timestamp.hours %></td>
            <td>
              <%= simple_form_for [@timesheet, timestamp] do |f| %>
                <%= f.input :task_description, label: false %>
                <%= f.submit 'Save', class: "btn red-button"%>
              <% end %>
            </td>
            <td>£<%= format('%.2f', timestamp.subtotal) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="table-group-divider">
        <td><strong>Total: </strong></td>
        <td colspan="2"></td>
        <td><strong>£<%= @timesheet.total %></strong></td>
      </tr>
    </tbody>
  </table>

  <%= render "timestamps/start_button", timesheet: @timesheet, timestamp: @timestamp %>

</div>
